*{
	font-family: $sans;
}

body{
    background-color: #ebecde;
}

.page{
    position: relative;
    z-index: 10;
}



.haven-button, .haven-cta{
	border-radius: 50px;
	background: $cta-color;
    display: block;
	border: solid 2px $cta-color;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    font-size: 1em;
    color: white;
    @include center;
    -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
    // font-weight: 100;
    // text-transform: uppercase;
    padding: 15px 60px;
    margin-bottom: 15px;

    &:hover{
        background-color: darken($cta-color, 10%);
        border-color: darken($cta-color, 10%);
    }
    &:focus{
        outline: none;
        background-color: #E8554D;
        border-color: #E8554D;
    }

    &.lilac{
    	background-color: $lilac;
    	border-color: $lilac;
    }
    &.lilac:hover{
    	color: $lilac;
    }
	&.salmon{
    	background-color: $salmon;
    	border-color: $salmon;
    }
    &.salmon:hover{
    	color: white;
        background-color: darken($salmon, 10%); 
        border-color: darken($salmon, 10%); 
    }

}

.haven-button:hover{
	// background-color: rgba(255,255,255,1);
	cursor: pointer;
}
