.time{
	display: inline-block;
	margin: 10px 0 0 0;
}

.booking-time-wrapper{
	background-color: #eee;
	display: block;
	margin-bottom: 15px;
	padding: 15px;
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.05);
	box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.05);
	@include transition(all, 0.3s);
	&:hover{
		@include transform(translateY(-5px));
	}

	.btn{
		display: inline;
		float: right;
	}
}

#status{
	text-align: center;
	margin-bottom: 15px;
	font-size: 5rem;
}



#landing-page-header{
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-position: center center;
	background-size: cover;
	background-color: $blush;
	color: white;
}

.landing-page-body{
	padding: 30px 0;
}

#status-click{
	background-color: transparent;
	border: none;
	font-size: 5rem;
	color: white;
	&:focus{
		outline: none;
		border: none;
	}
}

#text-target::before{
	content: "Available";
	top: 0;
	left: 0;
}

body.in-use{

	#text-target::before{
	content: "In Use";
	top: 0;
	left: 0;
}

	.get-started{
		display: none;
	}
}
