
.mode-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -45px;
}

.mode-button{
	@include transition(all,1s);
}
.mode-button:hover{
	text-decoration: none;
}

.grid-item--inner{
	height: 300px;
	width: 300px;
	margin: 0 30px;
	opacity: 0;
	border-radius: 50%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	@include transition(all, 0.5s);
	margin-bottom: 30px;
	overflow: hidden;
	@include color_overlay($navy, 0.3);
	&:hover{
		@include transform( scale(1.1));
		text-decoration: none;
	}
	&:focus{
		@include transform( scale(10));
	}

}


.grid-item--inner .mode-name{
	color: white;
	text-align: center;
	z-index: 10;
}

.mode-list-page--header{
	text-align: center;
}

.mode-list-page--header{
	background-color: $blush;
	background-size:cover;
	background-position: center center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mode-list-page--header h1{
	color: #34334F;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
}
.mode-list-page--header h3{
	color: white;
	font-weight: 100;
	font-size: 4rem;
}

.grid-item--inne {	
 animation: grid-item--inner 10s infinite;
 -webkit-animation: grid-item--inner 10s infinite;
 -moz-animation: grid-item--inner 10s infinite;
 -o-animation: grid-item--inner 10s infinite;
}
 
@-webkit-keyframes grid-item--inner {
 0%, 100%{-webkit-transform: scale(1);} 
 50% {-webkit-transform: scale(1.1);}
}
 
@-moz-keyframes grid-item--inner {
 0%, 100%{-moz-transform: scale(1);}
 50% {-moz-transform: scale(1.1);}
}
 
@-o-keyframes grid-item--inner {
 0%, 100%{-o-transform: scale(1);}
 50% {-o-transform: scale(1.1);}
}
@keyframes grid-item--inner {
 0%, 100%{transform: scale(1);}
 50% {transform: scale(1.1);}
}