#page--single-mode{
	height: 100vh;
	overflow: hidden;
	#logotype path{
		fill: white;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;	
}

.single-mode--wrapper{
	height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	@include transition(all, 0.5s);
	@include color_overlay($navy, 0.5);

	&.playing{
		// margin-top: 200px;
		height: 600px;
		width: 600px;
		border-radius: 50%;
	}

	&.guided{
		.guide-toggle{
			display: block;
			background-color: transparent;
			border: none;
			opacity: 0.8;
			text-align: center;
			@include center;
			&:hover{
				opacity: 1;
			}
			&:focus{
				outline: none;
			}

		}
	}

	.single-mode--inner{
		position: relative;
		z-index: 10;
		color: white;
	}
	.mode-name, .mode-title{
		color: white;
		position: relative;
		z-index: 10;
		margin-bottom: 45px;
		font-size: 3em;
	}

}

.mode--single.hidden-on-load{
	display: none;
}


.mode--single.playing{
	header{
		height: 100vh;
	}
}

#change-modes-link{
	color: white;
}

#availability {
	color: white;
}

.start-button{
	font-size: 2em;
}

.guided-input {
	//display: block;
	display: inline-block;
}

.choice-button {
	padding: 15px 20px;
	width: 60%;
}

// for the alertStartExperience function
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.swal-button {
  background: blue;
  }

.welcome-text {
	//display: none;
	opacity: 1;
	color: white;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	//position: absolute;
	//bottom: 60px;
}

.back-button{
	background-color: white;
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: $blush;
	color: white;
	border: none;
	border-radius: 15px;
	padding: 10 15px;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.description-heading{
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: $navy;
}

#mode-button-wrapper{
	width: 100%;
	text-align: center;
}

#single-mode--body{
	padding: 45px 0;
}

.mode--single-body p{
	font-weight: 100;
	font-size: 1.6rem;
}

.starting-soon-wrapper{
	display: none;
	margin-bottom: 45px;
}

.in-use{
	margin-bottom: 90px;
}

.room-in-use-wrapper{
	display: none;
}

.playing .starting-soon-wrapper{
	display: block;
}

.playing #change-modes-link{
	display: none;
}

.playing .selected-heading{
	display: none;
}

.playing {
 animation: playing 10s infinite;
 -webkit-animation: playing 10s infinite;
 -moz-animation: playing 10s infinite;
 -o-animation: playing 10s infinite;
}
 
@-webkit-keyframes playing {
 0%, 100%{-webkit-transform: scale(1);} 
 50% {-webkit-transform: scale(1.1);}
}
 
@-moz-keyframes playing {
 0%, 100%{-moz-transform: scale(1);}
 50% {-moz-transform: scale(1.1);}
}
 
@-o-keyframes playing {
 0%, 100%{-o-transform: scale(1);}
 50% {-o-transform: scale(1.1);}
}
@keyframes playing {
 0%, 100%{transform: scale(1);}
 50% {transform: scale(1.1);}
}
