#splash--landing .flex-container{
	height: 100vh;
	display: flex;
	align-items: center;
}


#splash--landing h1{
	color: $navy;
	font-size: 4.5em;
}

#splash--landing h3{
	color: $navy;
	font-size: 2em;
}

#splash--landing .haven-button{
	margin: 30px 0;
}


.splash-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-container{
	padding: 30px 0;
}

.splash-nav #logotype{
	width: 150px;
}