@import
    "sass/_variables",
    "sass/_mixins",
    "sass/_base",
    "sass/_nav",
    "sass/_single-mode-view",
    "sass/_component--reservation-code-modal",
    "sass/_component--circles",
    "sass/_start-experience-modal",
    "sass/_modes-archive",
    "sass/_page--landing"
    
;


body{
	/*background-image: url('img/desert-duotone.png');*/
	background-size: cover;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*flex-direction: column;*/
	height: 100vh;
	background-color: #ebecde!important;
}

body[data-mode="modeOne"]{
	background-image: url('img/mode-one-preview.jpg');
}
body[data-mode="modeTwo"]{
	background-image: url('img/mode-two-preview.jpg');
}

.single-view h1{
	display: none;
}

.single-view h3{
	text-align: center;
}

.index-header.single-view{
	display: none;
}



// #section--mode-index{
// 	padding: 45px 0;
// 	margin-top: -90px;
// }



#stopButton{
	background: transparent;
	display: none;
	color: white;
}
#stopButton:hover{
	background-color: rgba(255,255,255,1);
	cursor: pointer;
	color: #333;
}

#controls.hidden-on-load{
	display: none;
}


